/* Variáveis declaradas como cores, dentro do meu documento root*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

/* No primeiro par de chaves abaixo, resetando qualquer formatação geral, 
em toda a página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variavel cor preto invocada para o background - definido a fonte do site
  Definido a cor do título*/
body{
  background: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

/*Menu principal - Container flexivel alinhado ao centro na vertical*/
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Estilização da logo principal*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial black, Times;
    font-size: 40px;
}

.slogan{
    /*margin-right: 0px;*/
    color: white;
    font-family: Arial black, Times;
    font-size: 20px;
}

/*Menu principal (remove sublinhado) definimos cor e margem*/
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/*Efeito ao flutuar o mouse em cima do menu, mudará a cor*/
header nav a:hover{
    color: rgb(117, 8, 8);
}

/*Assunto principal*/
.estrela_principal{
    font-size: 16px;
    background: url('/img/react-space.png');
        
    height: 540px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.estrela_principal .description{
    margin-bottom: 50px;
    font-weight: bold;
    margin-left: 15px;
}

.titulo{
    font-size: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 15px;
}

.btn{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 20px;
    margin-right: 1px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 15px;
}

.btn:hover{
    background-color: white;
    color: var(--preto);
}

.btn i{
    margin-right: 8px;
}

.estrela_principal .container{
    width: 44%;
}


/*Definição das propriedades das imagens no carrousel*/
.box-tool{
    height: 350px;
    width: 100%;
    
    /*object-fit: contain;*/
    display: block;
}

img{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(2, 199, 248)); 
    }